<footer class="footer-20192 bg-body-tertiary mt-5">
    <div class="site-section">
      <div class="container">

        <!-- <div class="cta d-block d-md-flex align-items-center px-5 spacer mt-3">
          <div>
            <h2 class="mb-0">Are you Funky?</h2>
            <h3 class="text-dark get-started">Get a Quote now!</h3>
          </div>

          <div class="ml-auto">
            <a routerLink="/landing-page" class="btn btn-dark rounded-2 py-3 px-5">Quote</a>
          </div>
        </div> -->

      </div>
    </div>
        
    <div class="container">
      <div>
        <div class="row mt-5">

          <div class="col-sm">
            <a href="#" class="footer-logo"></a>
            <p class="copyright">
              <small>&copy; FunkyRobot.ca 2023</small>
            </p>
          </div>
          <div class="col-sm">
            <h3>Party/Events</h3>
            <ul class="list-unstyled links">
              <li><a routerLink="dj-quote">DJ Quote</a></li>
              <li><a routerLink="pb-quote">Photo Booth Quote</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Web-Dev</h3>
            <ul class="list-unstyled links">
              <li><a routerLink="story">My Story</a></li>
              <li><a routerLink="services">My Services</a></li>
              <li><a routerLink="contact">Contact Me</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Fun Stuff</h3>
            <ul class="list-unstyled links">
              <!-- <li><a routerLink="our-story">Our Story</a></li> -->
              <li><a href="https://www.swap2go.ca">Swap2Go!</a></li>
              <li><a href="https://www.ebay.ca/fdbk/feedback_profile/funkyrobot73">My eBay!</a></li>
              <li><a href="https://www.howtobeastupid.ca" target="_blank">Blog</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="text-center">Follow Me</h3>
            <ul class="list-unstyled social spacer">
              <li ><a href="https://github.com/FunkyRobot73" target="_blank"><i class="fa-brands fa-github socials"></i></a></li>
              <li><a href="https://twitter.com/funkyrobot73" target="_blank"><i class="fa-brands fa-twitter socials"></i></a></li>
              <li><a href="https://instagram.com/funkyrobot73" target="_blank"><i class="fa-brands fa-instagram socials"></i></a></li>
              <li><a href="https://swap2go.ca" target="_blank"><i class="fa-brands fa-solid fa-mask socials"></i></a></li>
            </ul>
          </div>

          <div class="col-md-3">
            <h3 class="text-center">Follow Me</h3>
            <ul class="list-unstyled social spacer">
              <li ><a href="https://github.com/FunkyRobot73" target="_blank"><i class="fa-brands fa-github socials"></i></a></li>
              <li><a href="https://twitter.com/funkyrobot73" target="_blank"><i class="fa-brands fa-twitter socials"></i></a></li>
              <li><a href="https://instagram.com/funkyrobot73" target="_blank"><i class="fa-brands fa-instagram socials"></i></a></li>
              <li><a href="https://swap2go.ca" target="_blank"><i class="fa-brands fa-solid fa-mask socials"></i></a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </footer>