<nav class="navbar bg-body-tertiary sticky-top">
    <form class="container justify-content-center">
        <!-- <button class="btn btn-outline-success me-2" type="button">Main button</button> -->
        <div class="row text-center">
            <div class="column">
                <button class="btn btn-sm btn-outline-primary me-3"
                    type="button">Button 1</button>
            </div><div class="column">
                <button class="btn btn-sm btn-outline-primary me-3"
                    type="button">Button 2</button>
            </div><div class="column">
                <button class="btn btn-sm btn-outline-primary me-3"
                    type="button">Button 3</button>
            </div>
        </div>
    </form>
</nav>