<nav class="navbar bg-body-tertiary sticky-top">
    <form class="container justify-content-center">
        <!-- <button class="btn btn-outline-success me-2" type="button">Main button</button> -->
        <div class="row text-center">
            <div class="column">
                <a target="_blank" rel="noopener"
      href="https://www.hamiltonpartyideas.ca"><button class="btn btn-sm me-3"
                    type="button">HOME</button></a>
            </div>
            <div class="column">
                <a target="_blank" rel="noopener"
      href="https://www.snowangels.org"><button class="btn btn-sm me-3"
                    type="button">ABOUT</button></a>
            </div>
            <div class="column">
                <a target="_blank" rel="noopener"
      href="https://www.snowangels.org"><button class="btn btn-sm me-3"
                    type="button">SKILLS</button></a>
            </div>
            <div class="column">
                <a target="_blank" rel="noopener"
      href="https://www.geek2go.ca"><button class="btn btn-sm me-3"
                    type="button">PROJECTS</button></a>
            </div>
            <div class="column">
                <a target="_blank" rel="noopener"
      href="https://www.swap2go.ca"><button class="btn btn-sm me-3"
                    type="button">CONTACT</button></a>
            </div>
        </div>
    </form>
</nav>