<div class="content" role="main">

    <!-- Highlight Card -->
    <div>
  
      <svg id="rocket-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119"
        height="1083.632" viewBox="0 0 516.119 1083.632">
        <title>Rocket Ship Smoke</title>
        <path id="Path_40" data-name="Path 40"
          d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z"
          transform="translate(-147.025 -140.939)" fill="#f5f5f5" />
      </svg>
    </div>
  
   
  
    <!-- Resources -->
    <h2>Have you met <i>Carlos</i>?</h2>
    <p>Here are just some of my skills:</p>
  
    <div class="card-container">
      <a class="card" target="_blank" rel="noopener"
        href="https://html.com/">
        <img src="assets/html.webp">
        <span class="ms-2">HTML</span>
         </a>
  
      <a class="card" target="_blank" rel="noopener"
        href="https://web.dev/learn/css/">
        <img src="assets/css.webp">
        <span class="ms-2"> CSS </span>
        
      </a>
  
      <a class="card" target="_blank" rel="noopener" href="https://eloquentjavascript.net/">
        <img src="assets/javascript.webp">
        <span class="ms-2">Javascript</span>
        
      </a>
  
      <a class="card" target="_blank" rel="noopener" href="https://www.typescript.org">
        <img src="assets/typescript.webp">
        <span class="ms-2">Typescript</span>
        
      </a>
  
      <a class="card" target="_blank" rel="noopener" href="https://www.angular.org">
        <img src="assets/angular.webp">
        <span class="ms-2">Angular</span>
      </a>
  
      <a class="card" target="_blank" rel="noopener" href="https://www.angular.org">
        <img src="assets/ionic.webp">
        <span class="ms-2">Ionic</span>
      </a>
  
    </div>
  
    <!-- Next Steps -->
    <h2>My Socials... Most of them anyways.</h2>
    <p>This isn't so much for you as it is for me.</p>
  
    <input type="hidden" #selection>
  
    <div class="card-container">
      <a target="_blank" rel="noopener"
        href="https://www.twitter.com/funkyrobot73">
        <button class="card card-small" (click)="selection.value = 'component'"
          tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24"><path
              d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
          <span>Twitter</span>
        </button>
      </a>
  
      <a target="_blank" rel="noopener"
        href="https://www.instagram.com/funkyrobot73">
        <button class="card card-small" (click)="selection.value = 'component'"
          tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24"><path
              d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
          <span>Instagram</span>
        </button>
      </a>
  
      <a target="_blank" rel="noopener"
        href="https://www.facebook.com/funkyrobot73">
        <button class="card card-small" (click)="selection.value = 'component'"
          tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24"><path
              d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
          <span>Facebook</span>
        </button>
      </a>
  
      <a target="_blank" rel="noopener" href="https://www.github.com/funkyrobot73">
        <button class="card card-small" (click)="selection.value = 'component'"
          tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24"><path
              d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
          <span>Github</span>
        </button>
      </a>
  
      <a target="_blank" rel="noopener" href="https://www.github.com/funkyrobot73">
        <button class="card card-small" (click)="selection.value = 'component'"
          tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24"><path
              d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
          <span>Github</span>
        </button>
      </a>
  
      <a target="_blank" rel="noopener"
        href="https://www.linkedin.com/in/carlos-sousa-web/">
        <button class="card card-small" (click)="selection.value = 'component'"
          tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24"><path
              d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
          <span>LinkedIn</span>
        </button>
      </a>
  
      <a target="_blank" rel="noopener" href="mailto: carlos@funkyrobot.ca">
        <button class="card card-small" (click)="selection.value = 'component'"
          tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24"><path
              d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
          <span>Email</span>
        </button>
      </a>
    </div>
    <div class="mt-5">
      <input class="demo" value="Test">
      <!-- or see the difference--></div>
    <div class="mt-2">
      <input class="demo" (keyup)="onKeyUp(titleInput.value)" [value]="data.title"
        #titleInput>
    </div>
  
    <!-- Terminal -->
    <div class="terminal mt-5" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng something-cool</pre>
  
    </div>
  
    <!-- Links -->
    <div class="card-container mt-5">
      <a class="circle-link" title="Don't Be Stupid"
        href="https://www.geek2go.ca" target="_blank"
        rel="noopener">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path
            d="M268.9 .9c-5.5-.7-11 1.4-14.5 5.7s-4.6 10.1-2.8 15.4c2.8 8.2 4.3 16.9 4.3 26.1c0 44.1-35.7 79.9-79.8 80H160c-35.3 0-64 28.7-64 64c0 19.1 8.4 36.3 21.7 48H104c-39.8 0-72 32.2-72 72c0 23.2 11 43.8 28 57c-34.1 5.7-60 35.3-60 71c0 39.8 32.2 72 72 72H440c39.8 0 72-32.2 72-72c0-35.7-25.9-65.3-60-71c17-13.2 28-33.8 28-57c0-39.8-32.2-72-72-72H394.3c13.3-11.7 21.7-28.9 21.7-48c0-35.3-28.7-64-64-64h-5.5c3.5-10 5.5-20.8 5.5-32c0-48.6-36.2-88.8-83.1-95.1zM192 256a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm96 32a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm64 108.3c0 2.4-.7 4.8-2.2 6.7c-8.2 10.5-39.5 45-93.8 45s-85.6-34.6-93.8-45c-1.5-1.9-2.2-4.3-2.2-6.7c0-6.8 5.5-12.3 12.3-12.3H339.7c6.8 0 12.3 5.5 12.3 12.3z" /></svg>
      </a>
  
      <a class="circle-link" title="Join the Conversation on Discord"
        href="https://discord.com/channels/1068328558415597628/1068334122252116099"
        target="_blank" rel="noopener">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"
          viewBox="0 0 245 240">
          <title>Discord Logo</title>
          <path
            d="M104.4 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1.1-6.1-4.5-11.1-10.2-11.1zM140.9 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1s-4.5-11.1-10.2-11.1z" />
          <path
            d="M189.5 20h-134C44.2 20 35 29.2 35 40.6v135.2c0 11.4 9.2 20.6 20.5 20.6h113.4l-5.3-18.5 12.8 11.9 12.1 11.2 21.5 19V40.6c0-11.4-9.2-20.6-20.5-20.6zm-38.6 130.6s-3.6-4.3-6.6-8.1c13.1-3.7 18.1-11.9 18.1-11.9-4.1 2.7-8 4.6-11.5 5.9-5 2.1-9.8 3.5-14.5 4.3-9.6 1.8-18.4 1.3-25.9-.1-5.7-1.1-10.6-2.7-14.7-4.3-2.3-.9-4.8-2-7.3-3.4-.3-.2-.6-.3-.9-.5-.2-.1-.3-.2-.4-.3-1.8-1-2.8-1.7-2.8-1.7s4.8 8 17.5 11.8c-3 3.8-6.7 8.3-6.7 8.3-22.1-.7-30.5-15.2-30.5-15.2 0-32.2 14.4-58.3 14.4-58.3 14.4-10.8 28.1-10.5 28.1-10.5l1 1.2c-18 5.2-26.3 13.1-26.3 13.1s2.2-1.2 5.9-2.9c10.7-4.7 19.2-6 22.7-6.3.6-.1 1.1-.2 1.7-.2 6.1-.8 13-1 20.2-.2 9.5 1.1 19.7 3.9 30.1 9.6 0 0-7.9-7.5-24.9-12.7l1.4-1.6s13.7-.3 28.1 10.5c0 0 14.4 26.1 14.4 58.3 0 0-8.5 14.5-30.6 15.2z" />
        </svg>
      </a>
    </div>
  
    <!-- Footer -->
    <footer>
      
      <a href="https://github.com/funkyrobot73" target="_blank" rel="noopener">
       <p class="me-3"> Give our repo a star.</p>
        <div class="github-star-badge">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z"
              fill="none" /><path
              d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" /></svg>
          Star
        </div>
      </a>
      <a href="https://github.com/funkyrobot73" target="_blank" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" viewBox="0 0 24 24"><path
            d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" /><path
            d="M0 0h24v24H0z" fill="none" /></svg>
      </a>
    </footer>
  
    <svg id="clouds" xmlns="http://www.w3.org/2000/svg" width="2611.084"
      height="485.677" viewBox="0 0 2611.084 485.677">
      <title>Gray Clouds Background</title>
      <path id="Path_39" data-name="Path 39"
        d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
        transform="translate(142.69 -634.312)" fill="#eee" />
    </svg>
  
  </div>
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  <div class="container">
    <div class="row">
      <app-cards class="column" [course]="coreCourses"></app-cards>
      <app-cards class="column" [course]="rxjsCourses"></app-cards>
      <app-cards class="column" [course]="ngrxCourses"></app-cards>
      <app-cards class="column" [course]="swap2go"></app-cards>
      <app-cards class="column" [course]="swap2go"></app-cards>
      <app-cards class="column" [course]="swap2go"></app-cards>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <app-cards class="column" [course]="coreCourses"></app-cards>
      <app-cards class="column" [course]="rxjsCourses"></app-cards>
      <app-cards class="column" [course]="ngrxCourses"></app-cards>
      <app-cards class="column" [course]="swap2go"></app-cards>
      <app-cards class="column" [course]="swap2go"></app-cards>
      <app-cards class="column" [course]="swap2go"></app-cards>
    </div>
  </div>
  
  <div class="container text-center mb-3 col-lg-6 center">
    <form action="https://www.google.com/images" >
        <input class="rounded" type="text" name="q">
        <input  class="button rounded" type="submit" value="Google Image Search">
    </form> 
   </div>
  
